<footer class="footer bg-light py-3 mt-auto">
    <div class="container d-flex flex-column align-items-center">
        <span class="text-muted">&copy; Sabrina Pacheco 2025</span>
        <a href="https://www.instagram.com/sabripachh/" target="_blank">
            <i class="fa-brands fa-instagram mt-2"></i>
        </a>
    </div>
</footer>