<footer class="footer py-3 mt-auto">
  <div class="container d-flex flex-column align-items-center">
    <span class="text-muted">&copy; Sabrina Pacheco 2025</span>
    <div class="d-flex gap-3 mt-2">
      <a href="https://www.instagram.com/sabripachh/" target="_blank">
        <i class="fa-brands fa-instagram"></i>
      </a>
      <a
        href="https://www.linkedin.com/in/sabrina-pacheco-b61398292/"
        target="_blank"
      >
        <i class="fa fa-linkedin" aria-hidden="true"></i>
      </a>
    </div>
  </div>
</footer>
