<% layout('layouts/boilerplate') %>

<section class="about-section">
  <h1 class="about-title reveal">About</h1>

  <!-- Text -->
  <div class="about-text-container reveal">
    <p class="about-text">
      I’m a 22-year-old Visual Merchandising Arts graduate from Sheridan
      College, specializing in Product Styling and Visual Merchandising. I’m
      passionate about crafting visually compelling displays, paying close
      attention to every detail to showcase each product’s best qualities. By
      carefully considering aesthetic, design, and audience interaction, I
      create engaging experiences that evoke feelings and bring brands to
      life.
    </p>
  </div>



<div class="about-gallery reveal">
  <img
    src="https://res.cloudinary.com/doofnvidt/image/upload/f_auto,q_auto/v1758581832/Sabrina%20Pacheco/About/IMG_2140_zn6ds7.jpg"
    alt=""
  />
  <img
    src="https://res.cloudinary.com/doofnvidt/image/upload/f_auto,q_auto/v1754615987/Sabrina%20Pacheco/Fabrication/Ocean%20Wonders%20Vignette/Awrad_Picture_btsqlk.jpg"
    alt="="
  />
  <img
    src="https://res.cloudinary.com/doofnvidt/image/upload/f_auto,q_auto/v1758582077/Sabrina%20Pacheco/About/IMG_2253_conkyc.jpg"
    alt=""
  />
</div>

