<% layout('layouts/boilerplate') %>
<h1 class="about-title reveal">About</h1>

<div class="container-fluid mt-4">
  <div class="row align-items-center">
    <div class="col-xl-6 center-text">
      <img
        class="bio-img reveal"
        src="https://res.cloudinary.com/doofnvidt/image/upload/v1754615987/Sabrina%20Pacheco/Fabrication/Ocean%20Wonders%20Vignette/Awrad_Picture_btsqlk.jpg"
        alt=""
      />
    </div>

    <div class="col-xl-6 text-center">
      <p class="about-text reveal">
        I’m a 22-year-old Visual Merchandising Arts graduate from Sheridan
        College, specializing in Product Styling and Visual Merchandising. I’m
        passionate about crafting visually compelling displays, paying close
        attention to every detail to showcase each product’s best qualities. By
        carefully considering aesthetic, design, and audience interaction, I
        create engaging experiences that evoke feelings and bring brands to
        life.
      </p>
    </div>
  </div>
</div>
