<% layout('layouts/boilerplate') %>
<h1 class="sub-work-title reveal"><%= workType.charAt(0).toUpperCase() + workType.slice(1) %></h1>
<div class="image-grid">

  <% workData.forEach(item => { %>
    <a href="<%= workType %>/<%= item.href %>">
      <div class="image-wrapper reveal">
        <div class="sub-work-img"></div>
          <img src="<%= item.images[0] %>" alt="" class="reveal">
      </div>
    </a>
  <% }) %>
</div>
