<% layout('layouts/boilerplate') %>
<h1 class="sub-work-title reveal">
  <%= workType
        .split('-')
        .map(word => word.charAt(0).toUpperCase() + word.slice(1)) 
        .join(' ')
  %>
</h1><div class="image-grid">

  <% workData.forEach(item => { %>
    <a href="<%= workType %>/<%= item.href %>">
      <div class="image-wrapper reveal">
        <div class="sub-work-img"></div>
          <img src="<%= item.images[0] %>" alt="" class="reveal">
      </div>
    </a>
  <% }) %>
</div>
