<% layout('layouts/boilerplate') %>

<h1 class="contact-title reveal">Let's Connect</h1>
<div id="formMessage" class="form-message"></div>

<div class="container mt-5">
  <div class="row justify-content-center align-items-start">
    <div class="col-xl-4 col-12 mb-4 position-relative reveal">
      <img
        class="bio-img img-fluid"
        src="https://res.cloudinary.com/doofnvidt/image/upload/f_auto,q_auto/v1758293655/Sabrina%20Pacheco/About/IMG_7702_lf4p91.jpg"
        alt=""
      />
      <!-- <img src="https://res.cloudinary.com/doofnvidt/image/upload/v1758586864/Sabrina%20Pacheco/About/file_2_aaagpq.svg" class="underlay" alt=""> -->
    </div>

    <div class="col-xl-4 col-12">
      <div class="fa-container">
        <a
          href="https://www.instagram.com/sabripachh/"
          target="_blank"
          class="fa-links"
        >
          <i class="fa-brands fa-instagram fa-2x reveal"></i>
        </a>
        <a
          href="https://www.linkedin.com/in/sabrina-pacheco-b61398292/"
          target="_blank"
          class="fa-links"
        >
          <i class="fa fa-linkedin fa-2x reveal" aria-hidden="true"></i>
        </a>
      </div>

      <p class="contact-text reveal">
        I’m always open to new opportunities, collaborations, or just
        connecting, feel free to reach out!
      </p>

      <p class="contact-text reveal">Email: sabripach.styling@gmail.com</p>
      <form
        id="contactForm"
        action="/send"
        method="POST"
        class="form-box reveal"
      >
        <input type="text" name="name" placeholder="Name" required />
        <input type="email" name="email" placeholder="Email" required />
        <textarea
          name="message"
          rows="5"
          placeholder="Message"
          required
        ></textarea>
        <input type="text" name="phone" style="display: none" />
        <button type="submit" class="btn btn-primary">Send</button>
      </form>
    </div>
  </div>
</div>

<script>
  const form = document.getElementById("contactForm");
  const messageDiv = document.getElementById("formMessage");

  form.addEventListener("submit", async (e) => {
    e.preventDefault(); // prevent default form submission
    const formData = new FormData(form);
    const data = Object.fromEntries(formData.entries());

    try {
      const res = await fetch("/send", {
        // make sure the URL matches your POST route
        method: "POST",
        headers: { "Content-Type": "application/json" },
        body: JSON.stringify(data),
      });
      const result = await res.json();

      messageDiv.textContent = result.message;
      messageDiv.classList.remove("success", "error");
      messageDiv.classList.add(result.success ? "success" : "error");
      messageDiv.style.display = "block";

      if (result.success) form.reset();
    } catch (err) {
      messageDiv.textContent = "Unexpected error. Please try again.";
      messageDiv.style.color = "red";
    }
  });
</script>
