<% layout('layouts/boilerplate') %>
<h1 class="center-text reveal">Sabrina Pacheco</h1>
<h5 class="subtitle reveal">Visual Merchandiser | Product Stylist </h5>
<div class="reveal carousel-wrapper justify-content-center">
  <div id="carousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="2500">
        <div class="img-wrapper">
          <a href="/work/styling/soldejaneiro">
            <img src="https://res.cloudinary.com/doofnvidt/image/upload/v1747761790/Sabrina%20Pacheco/Styling/Sol%20de%20Janeiro/OFFICIALSOLDEHANIERO2_ksm1ub.jpg" class="d-block w-100" alt="...">
          </a>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="2500">
        <div class="img-wrapper">
          <a href="/work/styling/earthlyreverie">
            <img src="https://res.cloudinary.com/doofnvidt/image/upload/v1743121702/Sabrina%20Pacheco/Styling/Earth%20Photoshoot/ftiskxfnohegxvovvhjd.jpg" class="d-block w-100" alt="...">
          </a>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="2500">
        <div class="img-wrapper">
          <a href="/work/fabrication/stussyminiatureset">
            <img src="https://res.cloudinary.com/doofnvidt/image/upload/v1754615890/Sabrina%20Pacheco/Fabrication/Stussy%20Miniature%20Set/IMG_0149_tdg2oo.jpg" class="d-block w-100" alt="...">
          </a>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="2500">
        <div class="img-wrapper">
          <a href="/work/fabrication/oceanwondersvignette">
            <img src="https://res.cloudinary.com/doofnvidt/image/upload/v1754615978/Sabrina%20Pacheco/Fabrication/Ocean%20Wonders%20Vignette/_MG_1404_iycoud.jpg" class="d-block w-100" alt="...">
          </a>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="2500">
        <div class="img-wrapper">
          <a href="/work/merchandising/honeynutcheerios">
            <img src="https://res.cloudinary.com/doofnvidt/image/upload/v1747762000/Sabrina%20Pacheco/Merchandising/Honey%20Nut%20Cheerios/cheeriowindow_kebp3i.jpg" class="d-block w-100" alt="...">
          </a>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="2500">
        <div class="img-wrapper">
          <a href="/work/merchandising/pomegranate">
            <img src="https://res.cloudinary.com/doofnvidt/image/upload/v1754615810/Sabrina%20Pacheco/Styling/Pomegranate/040124_sabrinacreative0031_2_copy_lznvix.jpg" class="d-block w-100" alt="...">
          </a>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="2500">
        <div class="img-wrapper">
          <a href="/work/merchandising/jean-michelbasquiat">
            <img src="https://res.cloudinary.com/doofnvidt/image/upload/v1747754399/Sabrina%20Pacheco/Merchandising/Jean-Michel%20Basquiat/JMB_windowfront2_hhn2fs.jpg" class="d-block w-100" alt="...">
          </a>
        </div>
      </div>
    </div>
  </div>
</div>