<% layout('layouts/boilerplate') %>
<div class="text-wrapper">
  <h1 class="sub-work-title reveal"><%= project.display %></h1>

  <%- project.description && `<p class="sub-work-desc reveal">${project.description}</p>` %>
</div>
<div class="image-grid">
  <% project.images.forEach(item => { %>
    <div class="image-wrapper reveal">
        <div class="sub-work-img no-hover"></div>
        <img src="<%= item %>" alt="">
    </div>
  <% }) %>

</div>