<% layout('layouts/boilerplate') %>
<div class="text-wrapper">
  <div class="text-title">
    <h1 class="sub-work-title reveal"><%= project.display %></h1>
  </div>

  <div class="text-body">
    <%- project.description && `<p class="sub-work-desc reveal">${project.description}</p>` %>
    <%- project.collaborators && `<p class="sub-work-collabs reveal"><b>Collaborators:</b> ${project.collaborators}</p>` %>
  </div>
</div>
<div class="image-grid">
  <% project.images.forEach(item => { %>
    <div class="image-wrapper reveal">
        <div class="sub-work-img no-hover"></div>
        <img src="<%= item %>" alt="">
    </div>
  <% }) %>

</div>