<% layout('layouts/boilerplate') %>

<h1 class="work-title reveal">Recent Works</h1>

<div class="work-container">
  <div class="work-column reveal">
    <a href="/work/styling">
      <div class="overlay"></div>
      <img src="https://res.cloudinary.com/doofnvidt/image/upload/v1747761790/Sabrina%20Pacheco/Styling/Sol%20de%20Janeiro/OFFICIALSOLDEHANIERO2_ksm1ub.jpg" class="category-images">
      <h2>Styling</h2>
    </a>
  </div>
  <div class="work-column reveal">
    <a href="/work/visual-merchandising">
      <div class="overlay"></div>
      <img src="https://res.cloudinary.com/doofnvidt/image/upload/v1747754399/Sabrina%20Pacheco/Merchandising/Jean-Michel%20Basquiat/JMB_windowfront_veu2fk.jpg" class="category-images">
      <h2>Visual Merchandising</h2>
    </a>
  </div>
  <div class="work-column reveal">
    <a href="/work/fabrication">
      <div class="overlay"></div>
      <img src="https://res.cloudinary.com/doofnvidt/image/upload/v1754615890/Sabrina%20Pacheco/Fabrication/Stussy%20Miniature%20Set/IMG_0149_tdg2oo.jpg" class="category-images">
      <h2>Fabrication</h2>
    </a>
  </div> 
</div>