.work-title {
  text-align: center;
  margin-bottom: 3rem;
  font-weight: bold;
}

.work-container {
  display: flex;
  justify-content: center;
  gap: 2rem;
  width: 100%;
  flex-wrap: wrap;
}

.work-column {
  flex: 1;
  text-align: center;
  position: relative;
  height: 60vh;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

.work-column a {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: inherit;
  z-index: 4;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* NEW CHANGES BELOW */
  /* background-color: rgba(0, 0, 0, 0.3); */
  transition: background-color 0.4s ease;
  z-index: 2;
}

.work-column::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1; /* Ensures overlay is behind the text */
}

.category-images {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
  transform: scale(1);
  transition: transform 0.4s ease-in-out;
}

.work-column h2 {
  font-size: 2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 3;
  opacity: 0;
  transition: opacity 0.3s ease;
}

@media (hover: hover) {
  .work-column:hover .overlay {
    background-color: rgba(0, 0, 0, 0.4);
  }
  .work-column:hover .category-images {
    transform: scale(1.05);
  }
  /* NEW CHANGES BELOW */
  .work-column:hover h2 {
    opacity: 1;
  }
}

@media (max-width: 1026px) {
  .work-container {
    flex-direction: column;
    align-items: center;
  }

  .overlay {
    background-color: rgba(0, 0, 0, 0.3);
  }

  .work-column h2 {
    opacity: 1;
  }

  .work-column {
    flex: 0 0 auto;
    width: 90%;
    max-width: 80vw;
    height: 20vh;
    padding-top: 0;
    /* padding-top: 56.25%; */
  }

  .work-column h2 {
    font-size: 1.5rem;
  }

  .work-title {
    font-size: 1.5rem;
  }
}

@media (max-width: 600px) {
  .work-column h2 {
    font-size: 1.25rem;
  }
}

@media (max-width: 350px) {
  .work-column h2 {
    font-size: 1rem;
  }
}
